<?php
return [
    'google_recaptcha' => [
        'siteKey'   => '6Ld4smUUAAAAALsFHbbzSFYI9V6URxfIxibON_Ef',
        'secretKey' => '6Ld4smUUAAAAACJiEBPtxdOCG47f_xNzgwSKfLSz',
    ],
    'sphinx' => [
        'username' => 'db_user_name',
        'password' => 'db_password',
    ]
];
