<?php
return [
    'google_recaptcha' => [
        'siteKey'   => '6Ld4smUUAAAAALsFHbbzSFYI9V6URxfIxibON_Ef',
        'secretKey' => '6Ld4smUUAAAAACJiEBPtxdOCG47f_xNzgwSKfLSz',
        'enabled'   => true,
    ],
    'google_map_key'   => 'AIzaSyD_yJGWScw3s2R-4AMmEm6KrFtuJ_f_DCE',
];
