<?php

/* local common config file */
return [
    'components' => [
        'request' => [
            // !!! insert a secret key in the following (if it is empty) - this is required by cookie validation
            'cookieValidationKey' => 'derDVs13nZkNCC9uoTV9GCjOyqeL74O7testproject',
        ],
        'db' => [
            'dsn'      => 'mysql:host=localhost;dbname=testproject',
            'username' => 'user',
            'password' => 'password',
            'charset'  => 'utf8',
        ],
        'mailer' => [
            'transport' => [
                'host'       => 'smtp.gmail.com',
                // from email
                'username'   => 'test@gmail.com',
                // from email password
                'password'   => 'testpassword',
                'port'       => 465,
                'encryption' => 'ssl',
            ],
            // send all mails to a file by default. You have to set
            // 'useFileTransport' to false and configure a transport
            // for the mailer to send real emails.
            'useFileTransport' => false,
        ],
    ],
];
